<div class="error-banner">
  <small class="error-text" *ngIf="loginError">{{ loginError }}</small>
</div>
<h1 style="text-align: center">Login Page</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error
        *ngIf="
          loginForm.controls.email.hasError('required') &&
          loginForm.get('email')!.touched
        "
        >Email is required</mat-error
      >

      <br />
      <mat-error
        *ngIf="
          loginForm.controls.email.hasError('email') &&
          loginForm.get('email')!.touched
        "
        >Format is not correct</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <mat-error
        *ngIf="
          loginForm.controls.password.hasError('required') &&
          loginForm.get('password')!.touched
        "
        >Password is required</mat-error
      >
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!loginForm.valid"
      type="submit"
    >
      Login
    </button>
  </div>
</form>
